html,
body {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

.hidden {
    display: none !important;
}

.content-limit {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}