@media (max-width: 970px) {
    .sumary-main-layout {
        flex-direction: column;
    }

    .summary-box {
        padding-left: 0;
    }
}

@media (max-width: 830px) {
    .header-line {
        display: none;
    }

    .button-icon {
    width: 40px;
    height: 50px;
    background-image: url('../assets/icon/join_dark.svg'); /* dein Icon */
    background-size: cover
    }

    .responsive-header-line {
        padding-left: 25px;
    }

    .summary-first-line {
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    header {
        padding-left: 0;
    }

    .summary-main {
        padding-left: 0;
    }

    .greeting {
        display: none;
    }

    h1 {
        padding-left: 50px;
        margin-block-start: 0.em;
        margin-block-end: 0em;
    }

    .summary-first {
        padding-left: 50px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 20px;
    }

    .summary-box {
        padding-left: 40px;
    }

    .sumary-main-layout {
        align-items: start;
    }

    .seperator {
        display: none;
    }

    .seperator-two {
        background-color: #29ABE2;
        height: 2px;
        width: 90px;
    }

    .seperator-repsonsive {
        padding-left: 50px;
        padding-top: 15px;
    }

    aside {
        display: none;
    }

    .responsive-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #2a3647;
    }

    .responsive-footer span {
            color: #cdcdcd;
    }

    .responsive-footer a {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .responsive-task-icon {
        height: 25px;
        width: 25px;
    }

    .responsive-menu {
        font-family:;
    }

}