@media (max-width: 980px) {
    .content {
        max-width: 100%;
        padding: 0 20px 0px;
        box-sizing: border-box;
    }

    .header_right {
        gap: 18px;
        margin-right: clamp(8px, 2vw, 32px);

    }


    .login,
    .sign_up {
        width: min(560px, calc(100vw - 40px));
        margin-top: 62px;
    }

}

@media (max-width: 768px) {
    aside {
        display: none;
    }

    header {
        height: 80px;
        padding: 0 16px;
    }

    .responsive-header-line {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
    }

    .header-line {
        display: none;
    }

    .button-icon {
        width: 32px;
        height: 39px;
        background-image: url('../assets/icon/join_dark.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-right {
        padding-right: 0;
    }

    .header-help-icon {
        display: none;
    }

    .dropdown-content {
        top: 58px;
        right: 0;
    }

    .show-responsive {
        display: block !important;
    }

    .responsive-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #2a3647;
        z-index: 900;
    }

    .responsive-footer a {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        text-decoration: none;
    }

    .responsive-task-icon {
        height: 22px;
        width: 22px;
    }

    .responsive-menu {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #cdcdcd;
    }

    .responsive-footer a.is-active {
        background-color: #091931;
    }

    .summary-main,
    .add-task-main,
    .board-main,
    .contacts-main,
    .help-main,
    .main-privacy,
    .legal-main {
        min-height: calc(100vh - 80px);
        padding-bottom: 96px;
        box-sizing: border-box;
    }

    .legal-main,
    .main-privacy,
    .help-main {
        padding-left: 20px;
    }

    .help-content {
        width: 95%;
        padding-left: 0;
    }


    .content_wrapper {
        margin-top: 0;
        align-items: flex-start;
        justify-content: center;
        padding-top: 16px;
        box-sizing: border-box;
    }

    .join_logo {
        width: 64px;
        height: 78px;
        margin-top: 32px;
    }

    .header_right {
        display: none;
    }

    .no_user {
        font-size: 20px;

    }

    .no_user_content {
        display: flex;
        margin-top: 32px;
        margin-bottom: 16px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .Sign_btn {
        height: 51px;
        width: 104px;
        padding: 0 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 1;
        gap: 35px;
    }

    .login {
        width: min(396px, calc(100vw - 32px));
        margin-top: 0;
        height: 475px;
        min-height: 430px;
        border-radius: 20px;
        padding: 30px 16px 22px;
        box-sizing: border-box;
        margin-top: 100px;
    }

    .sign_up {
        width: min(396px, calc(100vw - 32px));
        height: auto;
        min-height: 560px;
        margin-top: 0;
        border-radius: 20px;
        padding: 30px 16px 22px;
        box-sizing: border-box;
        margin-top: 40px;
    }

    .login h1,
    .sign_up h1 {
        font-size: 47px;
        margin: 0;
    }

    .underline {
        margin-top: 16px;
        margin-bottom: 22px;
        width: 88px;
    }

    .login_form {
        width: 100%;
        margin-top: 30px;
        gap: 10px;
    }

    .sign_form{
        gap: 24px;
        margin-top: 0;
    }

    .login .field,
    .sign_up .field {
        padding: 10px 18px;
    }

    .btn_group {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 20px;
    }

    .terms{
        margin-top: -44px !important;
    }

    .login_btn,
    .guest_btn {
        width: 180px;
        justify-content: center;
        margin: 0 auto;
        font-size: 18px;
    }

    .guest_btn {
        padding: 12px 18px;
    }

    .terms {
        gap: 10px;
    }

    .Sign_up_btn {
        margin-top: 35px;
    }

    .Sign {
        width: 180px;
        margin-top: -30px;
    }

    .police p,
    .police a {
        font-size: 14px;
    }

    .arrow {
        left: 20px;
        top: 42px;
    }

    .footer_content {
        position: static;
        left: auto;
        transform: none;
        top: auto;
        width: 95%;
        padding-bottom: 12px;
    }

    .login_splash_screen {
        background-color: #2A3647;
    }

    .login_splash_logo {
        width: 160px;
        filter: none;
    }

    .login_splash_logo.is-moving {
        width: 64px;
        filter: none;
    }
}

@media (max-width: 420px) {


    .header_right {
        bottom: 108px;
        gap: 10px;
    }

    .login,
    .sign_up {
        width: calc(100vw - 24px);
        padding-left: 12px;
        padding-right: 12px;
    }

    .login .field,
    .sign_up .field {
        padding-left: 14px;
        padding-right: 14px;
    }

    .login .input_icon,
    .login .input_icon_button,
    .sign_up .input_icon,
    .sign_up .input_icon_button {
        right: 14px;
    }

    .Sign_up_btn .btn {
        width: 170px;
    }
}

