
/* header and aside line */

@media (max-width: 830px) {
    header {
        padding-left: 150px;
    }
}

@media (max-width: 750px) {
    aside {
        display: none;
    }

    .responsive-footer {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #2a3647;
    }

    .responsive-footer span {
        color: #cdcdcd;
    }

    .responsive-footer a {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .responsive-task-icon {
        height: 30px;
        width: 30px;
    }

    .responsive-menu {
        font-family: 'Open Sans'!important;
        font-weight: 400;
        font-size: 20px;
    }

    header {
        padding-left: 0;
    }
    
    .header-help-icon {
        display: none;
    }

    .show-responsive {
        display: block;
    }
}

@media (max-width: 600px) {
    header {
        padding-left: 0;
    }
}

@media (max-width: 768px) {

    .board-toolbar-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .board-add-task {
        width: 100%;
    }

    .board-search input {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .responsive-task-icon {
        height: 25px;
        width: 25px;
    }

      .header-line {
        display: none;
    }

    .responsive-header-line {
        padding-left: 25px;
    }


    .responsive-menu {
        font-size: 16px;
    }

    .button-icon {
        width: 40px;
        height: 50px;
        background-image: url('../assets/icon/join_dark.svg'); 
        background-size: cover
    }
}


/* Sumary Repsonsive */

@media (max-width: 830px) {
    .summary-main {
        padding-left: 150px;
    }
}

@media (max-width: 750px) {
    .summary-main {
        padding-left: 0;
    }
}

@media (max-width: 600px) {
    .summary-first-line {
        flex-direction: column;
        align-items: start;
        gap: 6px;
    }
    
     .seperator {
        display: none;
    }

    .seperator-two {
        background-color: #29ABE2;
        height: 2px;
        width: 90px;
    }

    .seperator-repsonsive {
        padding-left: 50px;
        padding-top: 15px;
    }

     h1 {
        padding-left: 50px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .summary-first {
        padding-left: 50px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 20px;
    }

    .summary-box {
        padding-left: 0px;
    }

    .sumary-main-layout {
        justify-content: center;
    }

    .summary-main {
        padding-left: 0;
    }

    .greeting {
        display: none;
    }
}

@media (max-width: 420px) {
    .size {
        width: 135px;
    }

    .gap15 {
        gap: 4px;
    }

    .summary-second-line {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .sumary-third-line {
        margin: 0px 56px;
        width: 285px;
        margin-bottom: 20px !important;
    }


    .gap20 {
        gap: 10px;
    }

    .box-size {
        width: 90px;
    }
}


/* Add To Ask Responsive */

@media (max-width: 1000px) {
    .task-form-grid {
        display: block;
    }
}

@media (max-width: 750px) {
    .add-task-main {
        padding-left: 0px;
    }

    .add-task-content {
        padding: 72px 20px 36px;
    }
}

@media (max-width: 400px) {
    .task-footer-actions {
        flex-direction: column;
    }

    .task-form-footer {
        justify-content: center;
    }

    .priority-button {
        font-size: 16px;
    }
}


/* Board Responsive */

@media (max-width: 1350px) {
    .board-columns {
        grid-template-columns: auto;
        gap: 0;
    }

    .board-column {
        height: calc(39vh - 290px);
         width: 500px;
    }
}

@media (max-width: 1040px) {
    .desktop-search {
        display: none;
    }

    .responsive-search {
        display: block;
        display: flex;
    }

    label {
        margin-bottom: 20px;
        }

    .board-search {
        width: 100%
    }

    .board-add-task {
        font-size: 0; 
        padding: 10px 14px;
        gap: 0;
    }

    .board-add-task span {
        font-size: 20px; 
    }
}

@media (max-width: 810px) {
    .board-column {
        width: 400px;
    }
}

@media (max-width: 750px) {
    .board-main {
        padding-left: 0px;
    }

    .board-title {
        padding-left: 0;
    }

    .board-content {
        padding: 72px 20px 36px;
        padding-right: 25px;
    }
}

@media (max-width: 560px) {
    .board-column {
        height: calc(41vh - 290px);
        width: 260px
    }

    .board-columns {
        padding-bottom: 200px;
    }
}

@media (max-width: 400px) {
    .board-task-detail-title {
        font-size: 36px;
    }
}


/* Contacts Responsive */

@media (max-width: 1140px) {

    .contacts-right {
        display: none;
    }

     .contacts-right.show-on-mobile {
        display: block; /
    }

    .contacts-add-button {
        display: none;
    }

    .responsive-button {
        display: block;
        position: fixed;  
        right: 35px;
        bottom: 100px;
    }

    .responsive-add-contact-button {
        width: 60px;
        height: 60px;
        background-color: #2a3647; 
        border: none;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0;
    }

    .add-contact-icon-respsonsive {
        width: 25px;
        height: 30px;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts-left {
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .overlay-panel {
        display: inline;
        height: 100%;
        width: 100%;
    }

    .overlay {
        padding: 0;
        background-color: white;
    }

    .button-ghost {
        display: none;
    }

    .overlay-logo {
        display: none;
    }

    .overlay-close-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .responsive-button-overlaycontact {
        background: none;
        border: none;
        font-size: 24px;
        color: white;
        background-color: #2a3647;
        width: 40px;
        height: 40px;
        border: none;
        color: white;
        position: absolute;
        top: 40px;
        right: 25px;
    }

    .overlay-left {
        height: 280px;
        padding: 56px 20px;
    }

    .overlay-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2a3647;
        height: 59px;
    }

    .overlay-actions {
        justify-content: center;
    }

    .overlay-right {
        padding: 0px 0px;
    }

    .overlay-left-title {
        font-size: 50px;
    }

    .overlay-avatar {
        margin-top: 0;
    }

    .overlay-close-button {
        display: none;
    }

    .field {
        padding: 0px 10px;
    }

}

@media (max-width: 750px) {
    .contacts-main {
        padding-left: 0px;
    }
}

@media (max-width: 400px) {
    .contacts-list {
        height: calc(100vh - 245px);

    }
}


/* For all Respsonsive classes */

.responsive-footer a.is-active {
    padding: 10px 0px;
    background-color: #091931;
    border-radius: 8px;
}