
.splash_logo{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 274px; 
  transition: left 600ms ease, top 600ms ease, width 600ms ease, transform 600ms ease, opacity 200ms ease;
  z-index: 10;
}