
.splash_logo{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 274px; 
  transition: left 120ms ease, top 120ms ease, width 120ms ease, transform 120ms ease, opacity 120ms ease;
  z-index: 10;
}