.contacts-head {
    flex-direction: column;
}

.contacts-subtitle::before {
    display: none;
}

.contacts-subtitle {
    padding-left: 0;
}

.seperator-line {
    width: 3px;
    height: 1px;
    background: #29abe2;
    border-radius: 2px;
    position: absolute;
}

.button-contact {
           width: 60px;
        height: 60px;
        background-color: #2a3647;
        border: none;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0;
}

.contact-menu {
    position: absolute;
    top: 40px;         
    right: 0;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-width: 100px;
    z-index: 100;
}

.menu-item {
    background: none;
    border: none;
    padding: 10px 16px;
    text-align: left;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}


.hidden {
    display: none;
}

.head-first {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 1140px) {
    .responsive-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #2a3647;
        color: white;
    }

    .responsive-footer a {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        text-decoration: none !important;
        }

        .responsive-footer a,
.responsive-footer a:visited,
.responsive-footer a:hover,
.responsive-footer a:active {
    text-decoration: none;
}
}