.main-privacy {
    background-color: #f6f7f8;;
    padding-left: 350px;
    padding-top: 100px;
    height: 100%;
}


h1 {
    font-weight: 700;
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link {
    color: #1c4d77;
}
