.main-privacy {
    background-color: #f6f7f8;
    ;
    padding-left: 350px;
    padding-top: 100px;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-right: 5px;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link {
    color: #1c4d77;
}

.legal-main {
    background-color: #f6f7f8;
    ;
    padding-left: 350px;
    padding-top: 100px;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-right: 5px;
}

.join {
    color: rgb(0, 128, 255);
}

.h-class {
    margin-block-end: 0;
    font-size: 20px;
}

.p-class {
    margin-block-start: 0;
}

.font-size20 {
    font-size: 20px;
}

.external-view .block {
    display: none !important;
}

.external-view .privacy-wrapper {
    width: 90% !important;
}

.external-view .content-limit {
    width: 90% !important;
}