.main-privacy {
    background-color: #f6f7f8;;
    padding-left: 350px;
    padding-top: 100px;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link {
    color: #1c4d77;
}

.legal-main {
    background-color: #f6f7f8;;
    padding-left: 350px;
    padding-top: 100px;
    height: 100vh;
}

.join {
    color: rgb(0, 128, 255);
}

.h-class {
    margin-block-end: 0;
    font-size: 20px;
}

.p-class {
    margin-block-start: 0;
}

.font-size20 {
    font-size: 20px;
}

.sidebar-bottom a.is-active {
    background-color: #091931;
    color: #ffffff;
}

.sidebar-bottom a {
    display: block;
    padding: 10px 65px;
}