body, html {
    overflow: hidden;
}

.summary-main {
    padding-left: 230px;
    background-color: #f6f7f8;
    height: 100vh;
}

.sumary-main-layout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.summary-first-line {
    gap: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 75px;
}

.summary-box {
    height: 450px;
    width: 400px;
    padding-top: 50px;
    padding-left: 120px;
}

.summary-second-line {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 20px;
    gap: 25px;
}

.sumary-third-line {
    display: flex;
    width: 400px;
    height: 120px;
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.seperator {
    background-color: #29ABE2;
    height: 35px;
    width: 2px;
}

.seperator-line {
    background-color: #D1D1D1;
    height: 100px;
    width: 2px;
}

h1 {
    padding-left: 120px;
}

.font-size {
    font-size: 27px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size {
    height: 120px;
    width: 185px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.bc-b {
    background-color: #2A3647;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-size {
    height: 20px;
}

.fd-c {
    flex-direction: column;
}

.gap15 {
    gap: 15px;
}

.text-align {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.box-size {
    height: 120px;
    width: 120px;
    gap: 15px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.gap20 {
    gap: 20px;
}

.font-size16 {
    font-size: 16;
    font-weight: 400;
}

.font-size20 {
    font-size: 20px;
    font-weight: 300;
}

.font-size64 {
    font-size: 50px;
    font-weight: 600;
}

.circlee {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

.padding-bottom10 {
    padding-bottom: 10px;
}

.menu a.is-active {
    background-color: #091931;
    color: #ffffff;
}

.box-size:hover, 
.sumary-third-line:hover, 
.sumary-second:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background-color: #091931;
    color: white;
    cursor: pointer;
}

.vector:hover img {
     content: url("/assets/icon/Vector_grey.svg");
}

.edit:hover img {
    content: url("/assets/icon/edit_grey.svg");
}

.vector:hover .bc-b,
.edit:hover .bc-b {
    background-color: #FFFFFF;
}